@media screen and (min-width:450px ) and (max-width:550px) {
    .container{
        background-color: thistle;
        width: 200px;
        height: 200px;
        margin-left: 33%;
        margin-top: 8%;
        border:5px solid cornflowerblue;
        border-radius: 10px;
        position: absolute;

    }
    .screen{
        height: 100px;
        width: 100%;
        background-color:pink;
        position: absolute;
        border-bottom:3px solid black ;

    }
    #res{
        position: absolute;
        top:74%;
        width: 99%;
        font-size: 2.5rem;
        text-align: end;
        border: none;
        outline: none;
        background-color: pink;
        }

}